:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


* {
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}